<footer class="footer page__full">
	<div class="row">
		<div class="col-xs-12">
			<div class="footer__title">RealChinaTea.ru</div>
			<div class="footer__sub">Copyright © 2010 RealChina Tea</div>
		</div>
		<div class="col-xs-4">
			<a class="footer__link" href="#">Контакты</a>
		</div>
		<div class="col-xs-4">
			<a class="footer__link" href="#">Оплата</a>
		</div>
		<div class="col-xs-4">
			<a class="footer__link" href="#">Доставка</a>
		</div>
	</div>
</footer>