<header class="header__wrap">
	<div class="header">
		<!-- <div class="header__title">RealChina<span style="color: #7fb400">Tea</span>.<span style="color: #ff8700">ru</span></div> -->
		<img class="header__logo" src="./img/RCT_Logo.svg" width="200">

		<a href="./cart.html" class="header__basket header__basket_active">

			<span class="header__basket-sum">3</span>

			<svg width="21px" height="20px" viewBox="0 0 21 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
				<circle fill="#3B3D36" cx="8" cy="17" r="2"></circle>
				<circle  fill="#3B3D36" cx="18" cy="17" r="2"></circle>
				<path d="M5.22585072,2 C4.11687977,2 3.61292359,2.79868996 4.10801312,3.79965349 L7.22629493,10.1041422 C7.4710139,10.5989108 8.11944308,11 8.67663186,11 L17.7909553,11 C18.3472353,11 18.9055423,10.5659113 19.0363845,10.0368423 L20.7857526,2.96315765 C20.9173041,2.43122037 20.5837953,2 20.0155984,2 L5.22585072,2 Z" fill="#3B3D36"></path>
				<path d="M1,0.5 L1.5059123,0.5 C2.60721653,0.5 3.90472984,1.30945969 4.39470506,2.28941011 L5.5,4.5" stroke="#3B3D36" stroke-width="2" stroke-linecap="square"></path>
				<path d="M7,14 L18.0281977,14 C18.994671,14 19.3945092,13.3085126 18.9320862,12.4750306 L17.8363223,10.5" stroke="#3B3D36" stroke-width="2" stroke-linecap="square" transform="translate(13.045715, 12.250000) scale(-1, 1) translate(-13.045715, -12.250000) "></path>
			</svg>
		</a>
	</div>
</header>